body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
    width: 1170px;
    margin: 0 auto;
}

.nav {
    margin-top: 60px;
    width: 1170px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.logo {
    padding-left: 60px;
}

.container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style-type: none;
    padding-right: 60px;

}

.nav-menu li {
    display: inline-block;
}

.nav-menu li a {
    display: inline-block;
}

.nav-menu a {
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #8E8E8E;
    margin: 10px;
    transition: all 1s ease;
}

.nav-menu a:hover {
    color: black;
}

.section {
    padding-top: 170px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.offer {
    width: 635px;
    height: 474px;
    left: 386px;
    top: 346px;
}

.title {
    width: 635px;
    height: 288px;
    left: 386px;
    top: 346px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    color: black;
    margin-bottom: 30px;
}

.intro {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 30px;
}

.btn {
    width: 250px;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    transition: all 1s ease;
    margin-bottom: 175px;
}

.btn:hover {
    background: black;
    color: white;
}

.img {
    width: 487px;
    height: 480px;
    padding-top: 80px;
}

/* Information page */

.logo-info {
    display: block;
    margin: 0 auto;
    padding-top: 135px;
}

.text-info {
    width: 1170px;
    height: 190px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    padding-top: 60px;
}

.btn-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 250px;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    transition: all 1s ease;
    margin-bottom: 140px;
}

.btn-info:hover {
    background: black;
    color: white;
}

/* About Us page */

.wrapper-about {
    padding: 330px;
    display: flex;
    justify-content: space-between;
}

.link-about {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: black;
    margin-left: 485px;
}

.logo-about {
    width: 627px;
    height: 255.02px;
    margin-top: 300px;
    margin-bottom: 90px;
    margin-left: 280px;
}

.text-about {
    width: 650px;
    height: 142px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: black;
    margin-left: 280px;
    margin-bottom: 185px;
}

/* .wrapper-about a {
    transition: all 1s ease;
}
.wrapper-about a:hover {
    transform: scale(1.2);
} */

